html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: black;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

#input-field{
    color: #8F8F8F;
    background-color: #444059;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    margin: 10px 0;
    height: 120px;
    justify-content: left;
    text-align: left;
}

textarea{
    left: 15px;
    top: 20px;
}

button{
    color: #04131C;
    background-color: #28A9F1;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Josefin', sans-serif;
}

button:hover {
    color: whitesmoke;
    cursor: pointer;
}

h1{
    color: white;
    text-align: center;
    white-space: nowrap;
}

h2{
    color: white;
    text-align: center;
    font-family: 'Josefin', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li{
    color: black;
    /* height: 100px; */
    width: 317px;
    font-size: 20px;
    padding: 15px;
    border-radius: 0px;
    background-color: white;
    text-align: left;
    vertical-align: top;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: gainsboro;
    cursor: pointer;
}

@media (max-width:767px){
    #input-field{
        color: #8F8F8F;
        background-color: #444059;
        border: 0;
        padding: 15px;
        border-radius: 8px;
        font-size: 20px;
        text-align: left;
        font-family: 'Inter', sans-serif;
        margin: 10px 0;
        width: 290px;
        justify-content: left;
        text-align: left;
    }
}